.container {
  grid-area: chains;
  background-color: var(--white);
  border-radius: 2px;
  position: relative;
  overflow: hidden;
}

.container span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-weight: 600;
  font-size: 18px;
  line-height: 78%;
  letter-spacing: 0.19em;
  text-transform: uppercase;
  color: #000;
  transition: translate 500ms ease, opacity 1000ms ease;
}

.container img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  translate: 0 150%;
  transition: translate 500ms ease;
}

.container:hover img {
  translate: 0 0;
}
.container:hover span {
  translate: 0 -100%;
  opacity: 0;
}

@media screen and (max-width: 767px) {
  .container:hover img {
    translate: 0 150%;
  }
  .container:hover span {
    translate: 0 0;
    opacity: 1;
  }
}
