.container {
  margin-bottom: 64px;
  padding-top: 196px;
  padding-left: 70px;
  padding-right: 70px;
  display: flex;
  justify-content: space-between;
}

.container h2 {
  font-weight: 300;
  font-size: 40px;
  line-height: 76%;
  letter-spacing: 0.03em;
  color: var(--dark);
}
