.otherImages {
  max-width: 650px;
  display: flex;
  align-items: center;
  gap: 30px;
  user-select: none;
}

.slider {
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.slider::-webkit-scrollbar {
  display: none;
}

.row {
  display: flex;
  transition: translate 250ms ease;
}

.row > * {
  width: 150px;
  flex-shrink: 0;
  cursor: pointer;
}

.prev,
.next {
  border: none;
  position: relative;
  cursor: pointer;
  transition: border-color 250ms ease;
}

.prev:hover::before,
.next:hover::before {
  border-color: var(--grey);
}

.prev:active::before,
.next:active::before {
  border-color: #000;
}

.prev::before,
.next::before {
  content: "";
  width: 12px;
  height: 12px;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  position: absolute;
  z-index: 2;
  top: 0;
  translate: 0 -50%;
}

.prev::after,
.next::after {
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

.prev::before {
  rotate: 45deg;
}

.next::before {
  rotate: -135deg;
}

@media screen and (max-width: 1399px) {
  .container {
    max-width: 500px;
  }
}
@media screen and (max-width: 1279px) {
  .container {
    max-width: 400px;
  }
}

@media screen and (max-width: 1079px) {
  .container {
    max-width: 510px;
  }
}

@media screen and (max-width: 767px) {
  .otherImages {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    /* gap: 0; */
  }
  .slider {
    max-width: 150px;
    margin-left: auto;
    margin-right: auto;
  }

  .row > * {
    width: 150px;
  }
}
