.container {
  max-width: 1764px;
  height: 60px;
  margin-top: 140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  align-items: center;
  background: #f2f2f2;
  white-space: nowrap;
  transition: all 400ms ease-in-out;
}

.container.sticky {
  max-width: 100%;
  padding-left: 70px;
  padding-right: 70px;
  position: sticky;
  top: 0;
  z-index: 2;
  box-shadow: 0 4px 12px rgb(206, 206, 206) inset;
}

@media screen and (max-width: 1279px) {
  .container {
    margin-top: 180px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    height: 40px;
    margin-top: 80px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .container.sticky {
    padding-left: 15px;
    padding-right: 15px;
  }
}
