.container {
  height: 100vh;
  position: relative;
}

.wrapper {
  height: 100%;
  display: flex;
  position: relative;
}

.wrapper > :first-of-type img,
.wrapper > :nth-of-type(2) > img {
  transition: filter 650ms ease-in-out;
  z-index: 0;
}

.wrapper > :nth-of-type(2) > img {
  filter: grayscale(1);
}

.wrapper > :nth-of-type(2):hover > img {
  filter: grayscale(0.15);
}

.wrapper:has(:nth-of-type(2):hover) :first-of-type > img {
  filter: grayscale(1);
}

.wrapper > :first-of-type:hover > img {
  filter: grayscale(0) !important;
}

.slideIndicators {
  display: none;
  position: absolute;
  bottom: 134px;
  left: 50%;
  translate: -50% 0;
  z-index: 1;
}

.slideIndicators > span {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--dark);
}

.slideIndicators > span.active {
  transition: all 200ms ease;
  background-color: var(--white);
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 100%;
    max-height: 693px;
  }

  .wrapper::-webkit-scrollbar {
    display: none;
  }

  .wrapper {
    overflow: scroll;
    scroll-snap-type: x mandatory;

    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .slideIndicators {
    display: flex;
    gap: 10px;
  }

  .wrapper > :first-of-type > img,
  .wrapper > :nth-of-type(2) > img {
    transition: none;
  }

  .wrapper:has(:nth-of-type(2):hover) :first-of-type > img {
    filter: none;
  }

  .wrapper > :nth-of-type(2) > img {
    filter: none;
  }
}
