.container {
  position: relative;
}

.container video {
  object-fit: fill;
}

.container video:playing {
  outline: 2px solid red;
  display: none;
}

.container button {
  width: 72px;
  height: 72px;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  border: 2px solid #fff;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}

.container button.hidden {
  display: none;
}
