.container {
  margin-bottom: 200px;
}
.container > div {
  /* margin-bottom: 200px; */
  position: relative;
}

.container > div > div:last-of-type {
  position: static;
}

.container > div > div:last-of-type > div:first-of-type {
  max-width: 690px;
  height: 470px;
}

.container > div > div:last-of-type > div:nth-of-type(2) {
  flex-direction: row;
  gap: 40px;
  top: auto;
  bottom: 0;
  right: auto;
  left: 0;
  translate: 0 85%;
}

.container > div > div:last-of-type > div:nth-of-type(2) button {
  width: 266px;
  height: 172px;
}

.container > div > div:first-of-type p {
  max-width: 570px;
}

@media screen and (max-width: 1279px) {
  .container > div > div:last-of-type > div:nth-of-type(2) button {
    width: 222px;
    height: 172px;
  }
}

@media screen and (max-width: 1079px) {
  .container {
    margin-bottom: 60px;
  }

  .container > div > div:last-of-type {
    position: relative;
  }

  .container > div > div:last-of-type > div:nth-of-type(2) {
    left: 50%;
    translate: -50% 15%;
  }

  .container > div > div:last-of-type > div:nth-of-type(2) button {
    width: 150px;
    height: 150px;
  }
}

@media screen and (max-width: 767px) {
  .container > div > div:last-of-type {
    position: static;
  }
}
