.container {
  display: none;
  width: 100%;
  height: 100vh;
  padding: 20px;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  translate: 0 -100%;
  transition: translate 200ms ease;
}

.container.open {
  translate: 0 0;
}

.container + button span {
  background-color: #fff;
}

.container.open + button span {
  background-color: #000 !important;
}

.container.open + button span:last-of-type {
  width: 100%;
  rotate: 45deg;
  translate: 0 -300%;
}

.container.open + button span:first-of-type {
  rotate: -45deg;
  translate: 0 150%;
}

.navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 44px;
  list-style-type: none;
}

.navigation a {
  font-weight: 600;
  font-size: 18px;
  line-height: 89%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--dark);
  position: relative;
}

.navigation a:before {
  content: "";
  width: 0px;
  height: 2px;
  background-color: var(--beige);
  position: absolute;
  bottom: -20%;
  right: 0;
  transition: all 200ms ease-in;
  border-radius: 20px;
}

.navigation a:hover:before {
  width: 100%;
  left: 0;
}

.links {
  width: 100%;
  margin-top: 52px;
  margin-bottom: 26px;
  padding-bottom: 18px;
  border-bottom: 1px solid var(--grey-light);
  display: flex;
  justify-content: center;
  gap: 22px;
  position: relative;
}

.links svg {
  width: 30px;
  height: 30px;
}

.links path {
  fill: var(--dark);
}

.whatsApp > a {
  flex-direction: row-reverse;
  gap: 14px;

  font-size: 18px;
  line-height: 89%;
  letter-spacing: 0.06em;
  color: var(--dark);
}

.whatsApp svg {
  width: 30px;
  height: 30px;
}

.whatsApp path {
  fill: var(--dark);
}

@media screen and (max-width: 767px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
