.details {
  padding-bottom: 16px;
  /* border-bottom: 1px solid #000; */
  cursor: pointer;
  position: relative;
}

.details::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--dark);
  position: absolute;
  bottom: 0;
  left: 0;
}

.details[open]::before {
  animation: move 300ms ease forwards;
}

@keyframes move {
  10% {
    background-color: var(--beige);
  }
  /* 20% {
    opacity: 1;
  } */
  100% {
    bottom: -250%;
    opacity: 0;
  }
}

.details > summary {
  list-style: none;
  position: relative;
}

.details > summary:focus-visible {
  background-color: var(--beige);
  outline: none;
}

.details > summary::before {
  content: "";
  width: 8px;
  height: 8px;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  position: absolute;
  top: 50%;
  right: 5px;
  translate: 0 -50%;
  rotate: -45deg;
  transition: all 200ms ease;
}

.details[open] > summary::before {
  border-left-color: #989c9f;
  border-bottom-color: #989c9f;
  rotate: -225deg;
  translate: 0 0;
}

.details summary::-webkit-details-marker {
  display: none;
}

.details[open] + .answerWrapper {
  grid-template-rows: 1fr;
}

.details[open] + .answerWrapper::before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--beige);
  position: absolute;
  bottom: -20px;
  left: 0;
  opacity: 0;
  animation: show 600ms linear forwards;
}

@keyframes show {
  to {
    opacity: 1;
  }
}

.answerWrapper {
  display: grid;
  grid-template-rows: 0fr;
  transition: all 300ms ease;
  position: relative;
}

.answerBody {
  overflow: hidden;
}

.questionText {
  font-weight: 600;
  font-size: 14px;
  line-height: 151%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #000;
}
