.container {
  grid-area: largeCard;
  padding: 32px 40px;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container img {
  align-self: center;
}
.container a {
  max-width: 295px;
  font-weight: 300;
  font-size: 32px;
  line-height: 127%;
  color: #000;
}
.container b {
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  color: #000;
}

@media screen and (max-width: 1599px) {
  .container img {
    width: 320px;
    height: 240px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    padding: 15px;
  }

  .container img {
    width: 220px;
    height: 160px;
  }

  .container a {
    font-size: 22px;
    line-height: 132%;
  }
  .container b {
    font-size: 18px;
    line-height: 133%;
  }
}
