.container {
  max-width: 100%;
  overflow: hidden;
}
.icons {
  grid-row: 5 / 6;
  grid-column: 2 / 3;
  display: flex;
  gap: 60px;
}

.icons div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.icons > div > h3 {
  font-weight: 600;
  font-size: 16px;
  line-height: 238%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #999;
  white-space: nowrap;
}
.icons > div > p {
  display: none;
  font-weight: 300;
  font-size: 14px;
  line-height: 171%;
  text-align: center;
  color: #7f7f7f;
}

.icons::-webkit-scrollbar {
  display: none;
}

.icons {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.indicators {
  display: none;
}

@media screen and (max-width: 1079px) {
  .icons {
    grid-row: 5 / 6;
    grid-column: 1 / 2;
  }
}

@media screen and (max-width: 767px) {
  .icons {
    margin-bottom: 30px;
    overflow: scroll;
    scroll-snap-type: x mandatory;
  }
  .icons div {
    min-width: 100%;
    gap: 22px;
    scroll-snap-align: center;
  }
  .icons div h3 {
    color: var(--dark);
  }

  .icons div path {
    stroke: var(--dark);
  }
  .icons > div > p {
    max-width: 290px;
    display: block;
    text-align: center;
  }

  .indicators {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .indicators span {
    width: 6px;
    height: 6px;
    background-color: var(--dark);
    border-radius: 50%;
    border: 1px solid var(--dark);
  }
  .indicators span.active {
    background-color: transparent;
  }
}
